node_modules
.DS_Store
database/
uploads/
/files/
ui/dist/
AGENTS.md
CLAUDE.md
.claude/
think/
.playwright-cli/
debug/
.AGENTS
.agents
.qoder
skills-lock.json
.agent
.language-applied